<% layout('../../admin/layouts/mainLayout') -%>

  <% block('page_header',`
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Create Blog</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/blogs">Blogs</a></li>
            <li class="breadcrumb-item active">Create</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  `); -%>
<div class="row">
    <div class="col-md-12">
      
        <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Create Blog</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" action="/admin/blogs/store" method="post" enctype="multipart/form-data">
              <div class="card-body">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" name="title" class="form-control" id="title" placeholder="Enter Title">
                  <% if(validation_messages.length>0 && validation_messages[0].title){ %>
                    <span class="text-danger">
                      <%= validation_messages[0].title.message %>
                    </span>
                  <%} %>
                </div>

                <div class="form-group">
                    <label for="image">Image</label>

                    <input type="file" name="image" class="form-control" id="image" placeholder="Category Image">

                    <% if(validation_messages.length>0 && validation_messages[0].image){ %>
                      <span class="text-danger">
                        <%= validation_messages[0].image.message %>
                      </span>
                   <%} %>
                </div>

                <div class="form-group">
                    <label for="short_description">Short Description</label>

                    <textarea name="short_description" class="form-control" id="short_description" placeholder="Short Description"></textarea>

                    <% if(validation_messages.length>0 && validation_messages[0].short_description){ %>
                      <span class="text-danger">
                        <%= validation_messages[0].short_description.message %>
                      </span>
                   <%} %>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>

                    <textarea name="description" class="form-control" id="description" placeholder="Short Description"></textarea>

                    <% if(validation_messages.length>0 && validation_messages[0].description){ %>
                      <span class="text-danger">
                        <%= validation_messages[0].description.message %>
                      </span>
                   <%} %>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>

                    <select class="form-control" id="category" name="category">
                        <% categories.forEach((category)=>{ %>
                            <option value="<%= category.id %>"><%= category.category_name %></option>
                        <% }) %>
                    </select>
                      

                    <% if(validation_messages.length>0 && validation_messages[0].category){ %>
                      <span class="text-danger">
                        <%= validation_messages[0].category.message %>
                      </span>
                   <%} %>
                </div>
                <div class="form-group">
                    <label for="tags">Tags</label>

                    <select class="form-control" id="tags" name="tags">
                        <% tags.forEach((tag)=>{ %>
                            <option value="<%= tags.id %>"><%= tag.tag_name %></option>
                        <% }) %>
                     </select>

                    <% if(validation_messages.length>0 && validation_messages[0].tags){ %>
                      <span class="text-danger">
                        <%= validation_messages[0].tags.message %>
                      </span>
                   <%} %>
                </div>

       
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
    </div>
</div>

<% block('javascript',`
<script>

</script>
`); -%>
